<div id="menu-1">
    <div class="st-menu st-effect-3 " id="controls">
        <div class="camera-info">
            <label class="control-label">Position:</label>
            <toggle-input toggle-val="graphics.camera.position.x" min="-Infinity" max="Infinity" placeholder="X"></toggle-input>
            <toggle-input toggle-val="graphics.camera.position.y" min="-Infinity" max="Infinity" placeholder="Y"></toggle-input>
            <toggle-input toggle-val="graphics.camera.position.z" min="-Infinity" max="Infinity" placeholder="Z"></toggle-input>

            <label class="control-label">Rotation:</label>
            <div class="test-input">
                <input id="camAngle1" ng-model="angleX" ng-model-options="{ getterSetter: true }" type="range" min=0>
            </div>
            <div class="test-input">
                <input id="camAngle2" ng-model="angleY" ng-model-options="{ getterSetter: true }" type="range" min=0>
            </div>
            <div class="test-input">
                <input id="camAngle3" ng-model="angleZ" ng-model-options="{ getterSetter: true }" type="range" min=0>
            </div>
            <button type="button" class="btn btn-info" ng-click="lookAt()">Look at selected object (Object {{selectedObject}})</button>
        </div>
        <div class="panel-group object-menu">
            <div class="panel panel-default" ng-repeat="gobj in gObject.objects">
                <div class="panel-heading" data-toggle="collapse" data-parent=".object-menu" href="#object-{{$index}}">
                    <h4 class="panel-title">
                        Object {{$index}} -
                        {{gobj.mass.toPrecision(5)}}kg -
                        <span class="object-pos-title">{{gobj.position.x|numb:5}}</span>
                        <span class="object-pos-title">{{gobj.position.y|numb:5}}</span>
                        <span class="object-pos-title">{{gobj.position.z|numb:5}}</span>
                    </h4>
                </div>
                <div id="object-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label class="control-label">Mass:</label>
                        <toggle-input toggle-val="gobj.mass" toggle-ontab="onTab" type="number" placeholder="Mass (kg)"></toggle-input>
                        <!--<input type="number" class="test-input" ng-model="gobj.mass" placeholder="Mass (kg)">-->

                        <label class="control-label">Color:</label>
                        <input type="color" class="test-input" ng-model="gobj.color" ng-model-options="{ getterSetter: true }" placeholder="#000000">

                        <label class="control-label">Position:</label>
                        <toggle-input toggle-val="gobj.position.x" min="-Infinity" max="Infinity" placeholder="X"></toggle-input>
                        <toggle-input toggle-val="gobj.position.y" min="-Infinity" max="Infinity" placeholder="Y"></toggle-input>
                        <toggle-input toggle-val="gobj.position.z" min="-Infinity" max="Infinity" placeholder="Z"></toggle-input>

                        <!--<input type="number" class="test-input" ng-model="gobj.position.x" placeholder="X">
            <input type="number" class="test-input" ng-model="gobj.position.y" placeholder="Y">
            <input type="number" class="test-input" ng-model="gobj.position.z" placeholder="Z">-->

                        <label class="control-label">Velocity:</label>
                        <toggle-input toggle-val="gobj.velocity.x" min="-Infinity" max="Infinity" placeholder="X"></toggle-input>
                        <toggle-input toggle-val="gobj.velocity.y" min="-Infinity" max="Infinity" placeholder="Y"></toggle-input>
                        <toggle-input toggle-val="gobj.velocity.z" min="-Infinity" max="Infinity" placeholder="Z"></toggle-input>

                        <!--<input type="number" class="test-input" ng-model="gobj.velocity.x" placeholder="X">
            <input type="number" class="test-input" ng-model="gobj.velocity.y" placeholder="Y">
            <input type="number" class="test-input" ng-model="gobj.velocity.z" placeholder="Z">-->

                        <button type="button" class="btn btn-danger" ng-click="$parent.objectRemove(gobj, $index)">Remove</button>
                        <button type="button" class="btn"
                                ng-class="$parent.selectedObject === $index ? 'btn-warning' : 'btn-info' "
                                ng-click="$parent.selectObject(gobj, $index)">
                            {{$parent.selectedObject === $index ? 'Deselect' : 'Select'}}
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" ng-click="objectCreate()">Create New Object</button>
        </div>
    </div>
    <div class="menu-tounge">
        <button class="btn" ng-class="StartBtnClass()" ng-click="toggleStart($event)">{{StartBtnText()}}</button>
        <div style="display:inline-block;" ng-hide="!isStart">
            <button class="btn" ng-class="PauseForceBtnClass()" ng-click="togglePauseForce($event)">{{PauseForceBtnText()}}</button>
            <button class="btn" ng-class="PauseGraphicsBtnClass()" ng-click="togglePauseGraphics($event)">{{PauseGraphicsBtnText()}}</button>
        </div>
    </div>
</div>
